<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestCentric.Gui.Model.Settings.RecentFiles" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TestCentric.Gui.Model.Settings.TestTreeSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TestCentric.Gui.Model.Settings.FixtureListSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TestCentric.Gui.Model.Settings.TestListSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TestCentric.Gui.Model.Settings.GuiSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TestCentric.Gui.Model.Settings.RecentProjectsSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TestCentric.Gui.Model.Settings.ErrorDisplaySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TestCentric.Gui.Model.Settings.TextOutputSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TestCentric.Gui.Model.Settings.MainFormSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TestCentric.Gui.Model.Settings.MiniFormSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TestCentric.Gui.Model.Settings.EngineSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TestCentric.Gui.Model.Settings.RecentFiles>
            <setting name="Entries" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                </value>
            </setting>
        </TestCentric.Gui.Model.Settings.RecentFiles>
        <TestCentric.Gui.Model.Settings.TestTreeSettings>
            <setting name="InitialTreeDisplay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AlternateImageSet" serializeAs="String">
                <value>Classic</value>
            </setting>
            <setting name="ShowCheckBoxes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowTestDuration" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisplayFormat" serializeAs="String">
                <value>NUNIT_TREE</value>
            </setting>
            <setting name="ShowNamespace" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NUnitGroupBy" serializeAs="String">
                <value>UNGROUPED</value>
            </setting>
            <setting name="ShowFilter" serializeAs="String">
                <value>True</value>
            </setting>
        </TestCentric.Gui.Model.Settings.TestTreeSettings>
        <TestCentric.Gui.Model.Settings.FixtureListSettings>
            <setting name="GroupBy" serializeAs="String">
                <value>OUTCOME</value>
            </setting>
        </TestCentric.Gui.Model.Settings.FixtureListSettings>
        <TestCentric.Gui.Model.Settings.TestListSettings>
            <setting name="GroupBy" serializeAs="String">
                <value>OUTCOME</value>
            </setting>
        </TestCentric.Gui.Model.Settings.TestListSettings>
        <TestCentric.Gui.Model.Settings.GuiSettings>
            <setting name="GuiLayout" serializeAs="String">
                <value>Full</value>
            </setting>
            <setting name="LoadLastProject" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InitialSettingsPage" serializeAs="String">
                <value />
            </setting>
            <setting name="ClearResultsOnReload" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Font" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="FixedFont" serializeAs="String">
                <value>Courier New, 8.25pt</value>
            </setting>
            <setting name="InternalTraceLevel" serializeAs="String">
                <value>Off</value>
            </setting>
            <setting name="ProjectEditorPath" serializeAs="String">
                <value />
            </setting>
        </TestCentric.Gui.Model.Settings.GuiSettings>
        <TestCentric.Gui.Model.Settings.RecentProjectsSettings>
            <setting name="MaxFiles" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="CheckFilesExist" serializeAs="String">
                <value>True</value>
            </setting>
        </TestCentric.Gui.Model.Settings.RecentProjectsSettings>
        <TestCentric.Gui.Model.Settings.ErrorDisplaySettings>
            <setting name="SplitterPosition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WordWrapEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ToolTipsEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SourceCodeDisplay" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SourceCodeSplitterOrientation" serializeAs="String">
                <value>Vertical</value>
            </setting>
            <setting name="SourceCodeVerticalSplitterPosition" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="SourceCodeHorizontalSplitterPosition" serializeAs="String">
                <value>0.3</value>
            </setting>
        </TestCentric.Gui.Model.Settings.ErrorDisplaySettings>
        <TestCentric.Gui.Model.Settings.TextOutputSettings>
            <setting name="WordWrapEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Labels" serializeAs="String">
                <value>ON</value>
            </setting>
        </TestCentric.Gui.Model.Settings.TextOutputSettings>
        <TestCentric.Gui.Model.Settings.MainFormSettings>
            <setting name="Location" serializeAs="String">
                <value>10, 10</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>700, 400</value>
            </setting>
            <setting name="Maximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SplitPosition" serializeAs="String">
                <value>290</value>
            </setting>
            <setting name="ShowStatusBar" serializeAs="String">
                <value>True</value>
            </setting>
        </TestCentric.Gui.Model.Settings.MainFormSettings>
        <TestCentric.Gui.Model.Settings.MiniFormSettings>
            <setting name="Location" serializeAs="String">
                <value>10, 10</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>700, 400</value>
            </setting>
            <setting name="Maximized" serializeAs="String">
                <value>False</value>
            </setting>
        </TestCentric.Gui.Model.Settings.MiniFormSettings>
        <TestCentric.Gui.Model.Settings.EngineSettings>
            <setting name="ShadowCopyFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Agents" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RerunOnChange" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SetPrincipalPolicy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PrincipalPolicy" serializeAs="String">
                <value>UnauthenticatedPrincipal</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>ABC</value>
            </setting>
        </TestCentric.Gui.Model.Settings.EngineSettings>
    </userSettings>
</configuration>